PAY_ADDRESS="ETH_ADDRESS_FOR_NODE_REWARD"

OTEL_SERVICE_NAME=shardeum
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_EXPORTER_OTLP_ENDPOINT="https://api.honeycomb.io"
OTEL_EXPORTER_OTLP_HEADERS="KEY_GOES_HERE"
OTEL_EXPORTER_OTLP_LOG_PROTOCOL=http/protobuf
