node_modules
dist
logs
instances/
.pm2/
statistics.tsv
.env
coverage
account-export.json

.sqlite
.gzip
.7z
.sqlite-shm
.sqlite-wal

#allow for some data to sit in scripts folder and be ignored
scripts/*.zip
scripts/*.sqlite
scripts/*.old
scripts/*.json
#this last one may slows things down, but not sure
scripts/*/
!scripts/shardeumValidatorDebuggingScript
!scripts/environmentGeneration/
scripts/environmentGeneration/devkeys*
scripts/environmentGeneration/genesis/
scripts/environmentGeneration/multisigKeys*
scripts/environmentGeneration/multisig-permissions*
scripts/environmentGeneration/secure-accounts*
scripts/environmentGeneration/test-output*
scripts/environmentGeneration/node-mules*
.idea
consensorAccounts.json
archiverAccounts.json
.DS_Store
.direnv/
db/
secrets*