node_modules
dist
logs
instances/
.pm2/
statistics.tsv
.env
coverage
account-export.json

.sqlite
.gzip
.7z
.sqlite-shm
.sqlite-wal

#allow for some data to sit in scripts folder and be ignored
scripts/*.zip
scripts/*.sqlite
scripts/*.old
scripts/*.json
#this last one may slows things down, but not sure
scripts/*/
.idea
consensorAccounts.json
archiverAccounts.json
.DS_Store
.direnv/
db/
secrets*